<div class="row">

  <div class="col-12 col-md-4">

    <div *ngIf="summonerRepository.summonerDataController && summonerRepository.summonerLeagueCotroller">
      <summoner-card [summoner]="summonerRepository.summoner" [summonerLeague]="summonerRepository.summonerLeague"></summoner-card>
    </div>

    <div *ngIf="!summonerRepository.summonerDataController && !summonerRepository.summonerLeagueCotroller">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>

  <div class="col-12 col-md-8">
    <div *ngIf="summonerRepository.summonerMatchesCotroller">
      <div class="row" *ngFor="let match of summonerRepository.summonerMatches['matches']" >
        {{ match.gameId }}
      </div>
    </div>

    <div *ngIf="!summonerRepository.summonerMatchesCotroller">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


  </div>
</div>
