<div class="row">

  <div class="col-12 col-md-6">

    <div *ngIf="summonerRepository.summonerDataController">
      <img src="{{ profileIconBaseUrl }}{{ summonerRepository.summoner.profileIconId }}.png" alt="Profile Icon" width="100" height="100"><br>
      <span>{{ summonerRepository.summoner.name }}</span><br>
      <span>{{ summonerRepository.summoner.accountId }}</span>
    </div>

    <div *ngIf="!summonerRepository.summonerDataController">
      Load...
    </div>

  </div>

  <div class="col-12 col-md-6">
    <div *ngIf="summonerRepository.summonerDataController">
      <div class="row" *ngFor="let match of summonerRepository.summonerMatches['matches']" >
        {{ match.champion }}
      </div>
    </div>

    <div *ngIf="!summonerRepository.summonerDataController">
      Load...
    </div>


  </div>
</div>
