<div class="row">
  <div class="col-12 col-md-6 p-0">

    <div class="form-group mt-2">
      <input type="text" class="form-control form-control-sm float-left rounded-0"
             id="summonerName"
             placeholder="Summoner Name"
             name="summonerName"
             [(ngModel)]="summonerName"
      />
    </div>

  </div>

  <div class="col-6 col-md-3 p-0">

    <div class="form-group mt-2">
      <select class="custom-select custom-select-sm float-left rounded-0"
              *ngIf="regionRepository.regionDataController"
              value="{{ this.regionRepository.baseRegion.tag }}"
              (change)="changeBaseRegion($event.target.value)"
      >
        <option
          *ngFor="let regionTag of this.regionRepository.allRegionTag"
          value="{{ regionTag }}"
        >{{ regionTag }}</option>
      </select>
    </div>

  </div>

  <div class="col-6 col-md-3 p-0">

    <div class="form-group mt-2">
      <button (click)="searchSummoner()" routerLink="/summoner/{{ this.regionRepository.baseRegion.tag }}/{{ this.summonerName }}" class="btn-sm btn-primary w-100 rounded-0 border-bottom-0">
        <small class="text-muted">
          <i class="fas fa-search text-white"></i>
        </small>
        Search
      </button>
    </div>

  </div>
</div>
