<div class="row mt-2">
  <div class="col-6 col-md-6">
      <h3 class="float-left">
        <i class="fa fa-list"></i>
        Match List
      </h3>
  </div>

  <div class="col-6 col-md-6 text-right">
    Total shown match results {{ showCount }}
  </div>
</div>

<hr class="bg-dark mt-1">

<ng-container *ngFor="let match of summonerMatches['matches']; let i=index">

  <div class="row mt-2 mb-2" *ngIf="i < showCount">

    <div class="col-3 pr-0" *ngIf="findChampionByKey(match.champion) as champion">

      <div class="border border-dark-blue rounded-l-10 text-center">
        <div class="d-flex justify-content-center p-2">
          <img
            class="rounded-10"
            src="{{ squareChampionBaseUrl }}{{ champion[1]['image']['full'] }}"
            alt="{{ champion[0] }}"
            width="75"
            height="75">
        </div>

        <div class="d-flex justify-content-center bg-dark-blue rounded-bl-10 p-1">
          <span class="text-white">{{ champion[0] }}</span>
        </div>
      </div>

    </div>

    <div class="col-8 pl-0 pr-0">

      <div class="row d-flex align-items-center h-100 border border-left-0 border-dark-blue p-2">
        <div class="col-12 col-md-6" *ngIf="findQueueById(match.queue) as queue">
          {{ queue.map }} <br>
          {{ queue.description }}
        </div>

        <div class="col-12 col-md-6">
          {{ calculateTime(match.timestamp) }} <br>
          {{ showMatchDate(match.timestamp) }}
        </div>
      </div>

    </div>

    <div class="col-1 pl-0" type="button" (click)="selectMatch(i)">
      <div class="d-flex align-items-center justify-content-center h-100 border border-left-0 border-dark-blue bg-dark-blue rounded-r-10">
        <i class="fa fa-arrow-down text-white" style="font-size: 20px"></i>
      </div>
    </div>

    <match-detail *ngIf="match.gameId === matchRepository.match.selectedMatch.gameId"></match-detail>
  </div>

</ng-container>

<div class="row mt-3">
  <div class="col-12 col-md-12">

    <button
      class="btn btn-dark-blue"
      (click)="changeShowRate()"
    >
      Show More
    </button>

  </div>
</div>

