<div class="row p-0 m-0 bg-light border border-primary rounded-10">
    <div class="col-4 col-md-4 p-0">
      <div class="w-100">
        <img class="img-fluid border-primary rounded-10" src="{{ profileIconBaseUrl }}{{ summoner.profileIconId }}.png" alt="Profile Icon">
      </div>
    </div>

    <div class="col-8 col-md-8">
      <h4>
        {{ summoner.name }}
      </h4>
      <span>Level: {{ summoner.summonerLevel }}</span><br>
      <span>League Solo: </span>
      <span *ngIf="!emptyController(summonerLeague.RANKED_SOLO_5x5)">{{ summonerLeague.RANKED_SOLO_5x5.tier }} - {{ summonerLeague.RANKED_SOLO_5x5.rank }}<br></span>
      <span *ngIf="emptyController(summonerLeague.RANKED_SOLO_5x5)">Unranked<br></span>

      <span>League Flex: </span>
      <span *ngIf="!emptyController(summonerLeague.RANKED_FLEX_SR)">{{ summonerLeague.RANKED_FLEX_SR.tier }} - {{ summonerLeague.RANKED_FLEX_SR.rank }}</span>
      <span *ngIf="emptyController(summonerLeague.RANKED_FLEX_SR)">Unranked</span>
    </div>
</div>
