<div class="row">
  <div class="col-12 col-md-6 p-0">

    <div class="form-group mt-2">
      <input type="text" class="form-control form-control-sm float-left rounded-0"
             id="summonerName"
             [placeholder]="summonerRepository.summoner.loaded ? summonerRepository.summoner.data.name : 'Summoner Name'"
             name="summonerName"
             [(ngModel)]="summonerRepository.summonerName"
             [value]="summonerRepository.summoner.loaded ? summonerRepository.summoner.data.name : ''"
      />
    </div>

  </div>

  <div class="col-6 col-md-3 p-0">

    <div class="form-group mt-2">
      <select class="custom-select custom-select-sm float-left rounded-0"
              *ngIf="regionRepository.regions.loaded"
              value="{{ this.regionRepository.regions.baseRegion.tag }}"
              (change)="changeBaseRegion($event.target.value)"
      >
        <option
          *ngFor="let regionTag of this.regionRepository.regions.tags"
          value="{{ regionTag }}"
        >
          {{ regionTag }}
        </option>
      </select>
    </div>

  </div>

  <div class="col-6 col-md-3 p-0">

    <div class="form-group mt-2">
      <button class="btn-sm btn-dark-blue w-100 rounded-0 border-bottom-0"
        [routerLink]="summonerRepository.summonerName !== ''
        ? '/summoner/' + regionRepository.regions.baseRegion.tag + '/' + summonerRepository.summonerName
        : null"
        (click)="searchSummoner()"
      >
        <small class="text-muted">
          <i class="fas fa-search text-white"></i>
        </small>
        Search
      </button>
    </div>

  </div>
</div>
