<div class="container-fluid">
  <div class="row bg-light-grey footer-first-row">

    <div class="col-12 col-md-6 p-4">
      <div class="d-flex h-100  justify-content-center">

        <div>
          <h4 class="text-center">About Riot Engine</h4>
          <hr class="border-dark">
          <p>This area may contain information about the site or different content.</p>
        </div>

      </div>
    </div>

    <div class="col-6 col-md-3 p-4">
      <div class="d-flex h-100  justify-content-center">

        <div class="footer-fast-menu">
          <h4 class="text-center">Games</h4>
          <hr class="border-dark">
          <ul>
            <li>League of Legends</li>
            <li>Legends of Runeterra</li>
            <li>Team Fight Tactics</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-6 col-md-3 p-4">
      <div class="d-flex h-100  justify-content-center">

        <div class="footer-fast-menu">
          <h4 class="text-center">Process</h4>
          <hr class="border-dark">
          <ul>
            <li>Branches</li>
            <li>Contanct</li>
            <li>Policy</li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="row bg-dark-blue footer-second-row">
    <div class="col-12 col-md-12">

      <div class="d-flex h-100 align-items-center justify-content-center text-white">
        <span class="footer-designer-span">
          @Project:
          <a href="https://github.com/HyopeR/RiotGamesProject-Angular" target="_blank">
            Tolgahan Çelik Riot Games Api / League of Legends (Github)
          </a>
        </span>
      </div>

    </div>
  </div>
</div>
